{% extends 'base.html' %} {% block container %}
<h2>Update</h2>
<p>Edit a product in the inventory.</p>
<form method="POST" action="{{ url_for('update_item', item_id=item._id) }}">
  <p>
    Product Name: 
    <input type="text" id="name" name="name" value="{{ item.name }}" /><br />
  </p>
  <p>
    Quantity: 
    <input type="number" id="quantity" name="quantity" value="{{ item.quantity }}" />
  </p>
  <p>
    Price: 
    <input type="text" id="price" name="price" value="{{ item.price }}" />
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
